* {
    background-color: whitesmoke;
    font-family: 'Courier New', Courier, monospace;
}

.mainTitle {
    text-align: center;
}

.links {
    text-align: center;
    color:blue;
    list-style-type: none;
}

.imgCenter {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
}

.intro {
    text-align: center;
}